@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* {
    padding: 0; margin: 0;
}

body, html
{
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 0);
    background-color: #000;
    overflow: hidden;
}

.titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(25deg);
    -moz-transform: perspective(300px) rotateX(25deg);
    -ms-transform: perspective(300px) rotateX(25deg);
    -o-transform: perspective(300px) rotateX(25deg);
    transform: perspective(300px) rotateX(25deg);
}

.titles p {
    text-align: justify;
    margin: 80px 0;
    line-height: 1.8;
}

.titles p.center {
    text-align: center;
    line-height: 1.8;
}

.title-content {
    position: absolute;
    top: 100%;
    -webkit-animation: scroll 30s linear infinite;
    -moz-animation: scroll 30s linear infinite;
    -ms-animation: scroll 30s linear infinite;
    -o-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
}

@-webkit-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

@-moz-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

@-ms-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

@-o-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}